
body {
    background-image: radial-gradient(blue, purple);
    margin: 3in;
}

img {
position: absolute;
top: 3%;
left: 35.4%;
width: 4in;
border-radius: 80px;
border-style: dashed;
border-width: 10px;
border-color: rgb(0, 0, 0);
}

p {
    background-color: antiquewhite;
    width: 4in;
    margin-left: 2.4in;
    margin-right: 3in;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30pt;
    position: relative;
    text-align: center;

}

button {
    background-color: rgb(229, 225, 220);
    width: 4in;
    margin-top: 25px;
    margin-left: 2.4in;
    margin-right: 3in;
    font-size: 30pt;
    position: relative;
    justify-content: center;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(194, 117, 16);
}

.Dislike {
    background-image: url(/images/images.jpg);
    background-size: contain;    
}

.Like {
    background-image: url(/images/images-2.png);
    background-size: contain; 
    text-align: left;
}

input {
    margin-left: 2.4in;
    margin-right: 3in;
    width: 3.93in;
    height: .5in;
    font-size: 36pt;
}

h3 {
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    width: fit-content;
    text-align: left;
}

.message-container {
text-align: left;
}
